section {
  background-color: #00fff0;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .check-normative {
    width: 86%;
    display: flex;
    align-items: center;
    img {
      width: 1rem;
      margin: 0 10px;
      object-fit: contain;
      background: none;
    }
    p {
      color: #154e83;
      font-size: 14px;
      margin-bottom: 0;
      a {
        color: blue;
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  section {
    .check-normative {
      width: 99%;
    }
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  section {
    .check-normative {
      width: 86%;
    }
  }
}
@media (max-width: 425px) {
  section {
    .check-normative {
      width: 90%;
    }
  }
}
@media (max-width: 320px) {
  section {
    height: 5rem;
  }
}
