@import "mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@100;300;400&family=Merriweather+Sans:wght@300&family=Poppins&family=Rubik+Mono+One&display=swap");
.choose-fligth-section {
  background: url("https://www.aireuropa.com/dam/aea/home/web/hero-banner/promo/allways-on/hero-banner-tentaciones-3-13-03-23-1920x650.jpg");
  background-position: center;
  height: 650px;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  .carrousel {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    .carrousel-element1 {
      width: 73rem;
      display: flex;
      flex-direction: column;
      h1 {
        width: 38rem;
        color: white;
        font-size: 2.7rem;
        font-family: "Poppins", sans-serif;
        margin-left: 70px;
      }
      .p-off {
        color: white;
        display: none;
      }
      .buy-now {
        @include buttons(none, 5px, white, 15%, 3rem);
        border: 1px solid white;
        margin: 10px 70px;
      }
      .buy-now:hover {
        border: 1px solid grey;
        color: grey;
      }
    }
    .carrousel-element2 {
      width: 81rem;
      display: flex;
      flex-direction: row;
      .flight-container {
        width: 20%;
        h3 {
          color: white;
          font-size: 1.3rem;
          width: 100%;
          height: 3rem;
          font-family: "Poppins", sans-serif;
          margin: 0 30px 0 70px;
        }
        p {
          color: white;
          font-size: 1rem;
          font-family: "Poppins", sans-serif;
          margin-left: 70px;
          margin-bottom: 0;
        }
        div {
          display: flex;
          span {
            color: white;
            font-size: 2.5rem;
            font-family: "Poppins", sans-serif;
            margin-left: 70px;
          }
          div {
            display: flex;
            flex-direction: column;
            margin: 10px 0 0 5px;
            p {
              color: white;
              font-size: 1rem;
              font-family: "Poppins", sans-serif;
              margin: 0;
            }
            p {
              color: white;
              font-size: 1rem;
              font-family: "Poppins", sans-serif;
              margin: 0;
            }
          }
        }
      }
    }
    .buy-now {
      @include buttons(none, 5px, white, 15%, 3rem);
      border: 1px solid white;
      margin: 10px 70px;
    }
    .buy-now:hover {
      border: 1px solid grey;
      color: grey;
    }
    .swiper-hero .swiper-button-prev,
    .swiper-hero .swiper-button-next {
      /* tamaño flechas */
      color: white;
      --swiper-navigation-size: 20px;
    }
  }
  .search-fligth-container {
    box-shadow: 1px 1px 10px #c7c7c7;
    width: 70%;
    margin-right: 0;
    .title-container {
      height: 4rem;
      padding: 20px;
      background-color: white;
      border-radius: 5px 5px 0 0;
      border-bottom: 5px solid #2c69e1;
      display: flex;
      img {
        width: 20px;
        height: 20px;
        margin: 0 3px;
      }
      p {
        font-size: 17px;
        color: #2c69e1;
      }
    }
    .search-fligth {
      background-color: #f6f6f6;
      border-radius: 0 0 5px 5px;
      height: 11rem;
      width: 100%;
      .selection-bar {
        margin-top: 10px;
        height: 50%;
        display: flex;
        justify-content: space-around;
        .fligth-mode {
          box-shadow: 1px 1px 10px #c7c7c7;
          background-color: white;
          color: #2c69e1;
          font-weight: bold;
          border-radius: 5px;
          list-style: none;
          display: flex;
          justify-content: center;
          width: 75%;
          padding-left: 0;
          .fligth-item {
            padding: 5px;
          }
        }
      }
      div {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        .checkbox {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          vertical-align: middle;
          border: 1px solid grey;
          appearance: none;
          -webkit-appearance: none;
          outline: none;
          margin: 5px;
        }
        :checked {
          appearance: auto;
          clip-path: circle(50% at 50% 50%);
          background-color: blue;
        }
        label {
          font-size: 15px;
        }
        img {
          width: 6%;
          margin: 5px;
        }
      }
      .choose-country {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .text {
          height: 4rem;
          width: 17rem;
          border: none;
          background-color: #f6f6f6;
          border-bottom: 1px solid grey;
          margin-right: 3px;
        }
        ::placeholder {
          font-size: 1.6rem;
          font-weight: bold;
        }

        button {
          @include buttons(#2c69e1, 10px, white, 20%, 3rem);
        }
      }
    }
  }
}
#fligth-item-active {
  padding: 4px;
  background-color: #0f2367;
  color: white;
  border-radius: 5px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .choose-fligth-section {
    background-position: top;
    height: 486px;
    background-size: 140%;
    background-repeat: no-repeat;
    .carrousel {
      width: 98%;
      margin-top: 6rem;
      margin-bottom: 0;
      height: 205px;
      .carrousel-element1 {
        h1 {
          width: 34rem;
          font-size: 2.2rem;
        }
      }
      .carrousel-element2 {
        width: 57rem;
        display: flex;
        justify-content: center;
        .flight-container {
          width: 20%;
          h3 {
            font-size: 1.3rem;
            height: 5rem;
          }
          div {
            display: flex;
            width: 15rem;
            height: 2rem;
            span {
              font-size: 1.9rem;
            }
            div {
              p {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
      .buy-now {
        margin: 10px 160px;
        @include buttons(none, 5px, white, 18%, 3rem);
        border: 1px solid white;
      }
    }
    .search-fligth-container {
      width: 85%;
      border-radius: 10px;
      .search-fligth {
        padding: 35px;
        .selection-bar {
          .fligth-mode {
            width: 83%;
            .fligth-item {
              width: 100%;
              font-size: 0.7rem;
            }
          }
        }

        .choose-country {
          .text {
            width: 15rem;
            height: 2rem;
          }
          ::placeholder {
            font-size: 1.2rem;
          }

          button {
            @include buttons(#2c69e1, 15px, white, 25%, 3rem);
          }
        }
      }
    }
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .choose-fligth-section {
    background-position: center;
    height: 360px;
    background-size: 150%;
    background-repeat: no-repeat;
    .carrousel {
      width: 98%;
      margin-top: 7rem;
      margin-bottom: 0;
      height: 205px;
      .carrousel-element1 {
        h1 {
          display: none;
        }
        .p-off {
          display: block;
          width: 26rem;
          font-size: 2rem;
          margin-left: 140px;
        }
        .buy-now {
          @include buttons(none, 5px, white, 15%, 3rem);
          border: 1px solid white;
          margin: 10px 140px;
        }
      }
      .carrousel-element2 {
        margin-left: 50px;
        width: 40rem;
        display: flex;
        justify-content: flex-start;
        .flight-container {
          width: 20%;
          h3 {
            font-size: 1.3rem;
            height: 5rem;
          }
          div {
            display: flex;
            width: 15rem;
            height: 2rem;
            span {
              font-size: 1.9rem;
            }
            div {
              p {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
      .buy-now {
        margin: 10px 120px;
        @include buttons(none, 5px, white, 20%, 3rem);
        border: 1px solid white;
      }
    }
    .search-fligth-container {
      width: 95%;
      border-radius: 10px;
      .search-fligth {
        padding: 30px;
        height: 9rem;
        .selection-bar {
          .fligth-mode {
            width: 100%;
            .fligth-item {
              width: 100%;
              font-size: 0.7rem;
            }
          }
        }
        div {
          .checkbox {
            width: 22px;
            height: 22px;
          }
          label {
            font-size: 13px;
          }
          img {
            width: 10%;
            margin: 5px;
          }
        }
        .choose-country {
          .text {
            width: 15rem;
            height: 2rem;
          }
          ::placeholder {
            font-size: 1.2rem;
          }

          button {
            @include buttons(#2c69e1, 15px, white, 25%, 3rem);
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .choose-fligth-section {
    background-position: top;
    height: 520px;
    background-size: 150%;
    background-repeat: no-repeat;
    .carrousel {
      width: 98%;
      margin-top: 2rem;
      margin-bottom: 0;
      height: 3000px;
      .carrousel-element1 {
        width: 70rem;
        h1 {
          display: none;
        }
        .p-off {
          display: block;
          text-align: center;
          width: 15rem;
          font-size: 1.5rem;
          margin-left: 110px;
        }
        .buy-now {
          @include buttons(none, 5px, white, 15%, 3rem);
          border: 1px solid white;
          margin: 5px 120px;
        }
      }
      .carrousel-element2 {
        margin-left: 0px;
        width: 40rem;
        display: flex;
        flex-direction: column;
        .flight-container {
          display: flex;
          width: 26rem;
          height: 2rem;
          h3 {
            font-size: 0.8rem;
            height: 2rem;
            width: 9rem;
            margin-right: 0;
          }
          p {
            display: flex;
            align-items: flex-end;
            margin-left: 0;
            font-size: 0.8rem;
          }
          div {
            display: flex;
            width: 9rem;
            height: 2rem;
            span {
              font-size: 1.5rem;
              margin-left: 10px;
            }
            div {
              margin: 5px 0 0 5px;
              p {
                font-size: 0.6rem;
              }
            }
          }
        }
        #flight-container-off {
          display: none;
        }
      }
      .buy-now {
        margin: 6px 120px;
        @include buttons(none, 5px, white, 40%, 2.6rem);
        border: 1px solid white;
      }
    }
    .search-fligth-container {
      width: 95%;
      border-radius: 10px;
      .title-container {
        display: flex;
        flex-direction: column;
        padding: 8px 0 0 25px;
        img {
          width: 18px;
          height: 18px;
        }
      }
      .search-fligth {
        padding: 10px;
        height: 20rem;

        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 80%;
          height: 6rem;
          .selection-bar {
            .fligth-mode {
              width: 100%;
              .fligth-item {
                width: 100%;
                text-align: center;
                font-size: 0.7rem;
              }
            }
          }
          div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .checkbox {
              width: 20px;
              height: 20px;
            }
            label {
              font-size: 13px;
            }
            img {
              width: 8%;
              align-items: center;
              margin: 5px;
            }
          }
          .container-off {
            display: none;
          }
        }
        .choose-country {
          height: 13rem;
          .text {
            width: 96%;
            height: 3rem;
          }
          ::placeholder {
            font-size: 1.2rem;
          }

          button {
            margin-top: 30px;
            @include buttons(#2c69e1, 15px, white, 96%, 3rem);
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .choose-fligth-section {
    background-size: 170%;
    .carrousel {
      .carrousel-element1 {
        .p-off {
          width: 17rem;
          margin-left: 60px;
        }
        .buy-now {
          @include buttons(none, 5px, white, 15%, 3rem);
          border: 1px solid white;
          margin: 5px 100px;
        }
      }
      .carrousel-element2 {
        width: 26rem;
        .flight-container {
          width: 26rem;
          height: 2rem;
          h3 {
            margin-left: 52px;
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .choose-fligth-section {
    background-size: 180%;
    height: 525px;
    .carrousel {
      .carrousel-element1 {
        .p-off {
          width: 15rem;
          margin-left: 30px;
        }
        .buy-now {
          margin: 5px 70px;
          @include buttons(none, 5px, white, 15%, 2.5rem);
          border: 1px solid white;
        }
      }
      .carrousel-element2 {
        width: 26rem;
        .flight-container {
          width: 26rem;
          margin-bottom: 10px;
          h3 {
            width: 5rem;
            margin-left: 42px;
          }
        }
      }
      .buy-now {
        margin: 6px 80px;
        @include buttons(none, 5px, white, 50%, 2.5rem);
        border: 1px solid white;
      }
    }
    .search-fligth-container {
      .search-fligth {
        padding: 10px;
        height: 20rem;

        div {
          .selection-bar {
            width: 90%;
          }
          div {
            width: 90%;
            .checkbox {
              width: 20px;
              height: 20px;
            }
            label {
              font-size: 12px;
            }
            img {
              width: 10%;
            }
          }
          .container-off {
            display: none;
          }
        }
        .choose-country {
          height: 13rem;
          .text {
            width: 96%;
            height: 3rem;
          }
          ::placeholder {
            font-size: 1.2rem;
          }

          button {
            margin-top: 30px;
            @include buttons(#2c69e1, 15px, white, 96%, 3rem);
          }
        }
      }
    }
  }
}
