@import "mixin.scss";

header {
  display: flex;
  justify-content: center;

  .header-top {
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    .logo-container {
      padding-left: 20px;
      ul {
        @include ul-element;
      }
    }
    .options {
      display: flex;
      align-items: center;
      width: 90%;
      justify-content: flex-end;
      ul {
        @include ul-element;

        .option-item {
          @include li-element(10rem);
          height: 1.5rem;
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: black;
            @include anchords(6% 3% 6% 3%, 0.7em);
            img {
              width: 16%;
              margin-right: 2px;
              aspect-ratio: 3/2;
              object-fit: contain;
              mix-blend-mode: color-burn;
            }
          }
          :hover {
            background-color: #c7c7c7;
          }
        }
        #li-align {
          display: flex;
          justify-content: flex-end;
          .a-align{
            margin: 3px;
            text-align: center;
          }
        }
      }
    }
    .user-functions {
      width: 40%;
      ul {
        @include ul-element;
        justify-content: center;
        li {
          @include li-element(30%);
          height: 1.5rem;
          display: flex;
          align-items: center;
          .Check-in {
            color: #b428cd;
          }
        }
        li {
          a {
            text-decoration: none;
            @include anchords(5% 7% 5% 7%, 0.8rem);
          }
          :hover {
            background-color: #c7c7c7;
          }
        }
        .button-li {
          border-right: none;

          display: flex;
          align-items: center;
          .account {
            @include buttons(#2c69e1, 5px, white, 90%, 2rem);
          }
        }
      }
    }
  }
}
